/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    width: 100vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fffdf5;
} */