.weather-container {
  box-sizing: border-box;
  background-color: #f0f8ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.search-box input {
  width: 250px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.search-box input:focus {
  border-color: #42a5f5;
}

.search-box button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #43a047;
}

.weather-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

p {
  text-align: center;
  font-size: 18px;
  color: #444;
}

.weather-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 16px;
  padding: 20px 40px;
  text-align: center;
  width: 220px;
}


.weather-card h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 600;
}

.weather-card p {
  font-size: 20px;
  color: #555;
}
